.dropdown-menu {
  font-size: 15px;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 5px 10px;
  border: none;
  margin: 0 15px;
}

.label {
  font-size: 15px;
  color: black;
  /* margin-left: 15px; */
}
