.header {
  position: fixed;
  background-color: rgb(206, 230, 175);
  width: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 10px;
  height: 100px;
  z-index: 999;
}
.form {
  font-size: 30px;
}

input {
  font-size: 15px;
  margin: 10px;
  padding: 10px;
  border: none;
}

.dropdown-menus {
  display: flex;
  justify-content: center;

  align-items: center;
}
